* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.description {
    white-space: pre-wrap;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5em;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

/* start input styles */

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    padding: .25em .5em;
    margin: 5px;
    background-color: #ddd;
    font-weight: inherit;
}   
.input-sizer::after, .input-sizer input {
    width: auto;
    min-width: 1em;
    grid-area: 1 / 2;
    font: inherit;
    /* padding: 0.25em; */
    margin: 0;
    background: none;
    appearance: none;
    border: none;
}
    
.input-sizer::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
}

.input-sizer.milti-input {
    padding: .1em .2em;
}   

/* end input styles */

.card {
    background-color: #ffffff;
    margin: 30px auto;
    font-family: Arial;
    padding: 18px;
    width: 90%;
    min-width: 300px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

.card--correct {
    box-shadow: 0 0 18px rgba(76,175,80); /* #4CAF50 */
}

.card--wrong {
    box-shadow: 0 0 18px rgba(228,87,46); /* #E4572E */
}

.challange-description-card {
    position: absolute;
    left: 10%;
}

h1 {
    text-align: center;  
}

/* Mark input boxes that gets an error on validation: */
.invalid {
    background-color: #ffdddd;
}

/* Hide all cards by default: */
.tab {
    display: none;
}

.hide {
    display: none;
}

.submit {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid #ddd;
    text-transform: uppercase;
}

.button-default {
    border: none;
    padding: 1em;
    background-color: #e9e9e9;
}

.center {
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.indicators {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
}

.indicator {
    height: 13px;
    width: 13px;
    margin: 0 1px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.7;
    transition: 0.7s;
}

.indicator--correct {
    background-color: #4CAF50;
}

.indicator--wrong{
    background-color: #E4572E;
}

.removed-item {
    animation: removed-item-animation 2s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0% 100%;
}
 
@keyframes removed-item-animation {
    75% {
        opacity: 1;
        transform: rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}

.new-item {
    opacity: 0;
    animation: new-item-animation .3s linear forwards;
}
 
@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }
    to {
        opacity: 1;
        transform : translateY(0);
    }
}

.remove-scale {
    animation: remove-scale-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}
 
@keyframes remove-scale-animation {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#timeBar {
    width: 0%;
    height: 1.5vw;
    background-color: #4CAF50;
    transition-property: width;
    transition-duration: 0s;
}

.remove-time {
    animation: remove-width-animation 2s ease-out forwards;
}

@keyframes remove-width-animation {
    to {
        width: 0%;
    }
}

.timer-animation {
    animation: timer-animation 40s linear forwards;
}

@keyframes timer-animation {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.menu-container {
    position: absolute;
    margin: -6px 10px;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #bbbbbb;
    margin: 5px 0;
    transition: 0.4s;
}

.overlay {    
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.4s; /* 0.4 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-opened {
    width: 100vw;
}

.overlay__content {
    display: flex;
    text-align: center;
}

.overlay__header {
    display: flex;
    justify-content: end;
    color: #818181;
}

.overlay__header__closebtn {
    font-size: 60px;
    padding: 12px 30px;
    line-height: 1;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.swiper-container {
    width: 100%;
    height: 300px;
}

.swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    margin: 0 3px;
}

.swiper-pagination-bullet-active {
    background-color: #818181;
}

.swiper-custom-pagination {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
}
