* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.main-container__header {
    display: flex;
    flex-direction: column;
}

.interactive-container {
    display: flex;
    justify-content: space-between;
}

.description {
    white-space: pre-wrap;
    line-height: 24px;
}

.made-by {
    color: #666;
    font-size: 12px;
    text-align: end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 48px;
    margin-top: 6px;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    height: 80vh;
    z-index: 2;
}


/* start input styles */

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    padding: .25em .5em;
    margin: 5px;
    background-color: #ddd;
    font-weight: inherit;
}

.input-sizer.input-sizer--inline {
    margin: 1px 0;
    padding: 0 1px;
    line-height: 20px
}

.input-sizer::after,
.input-sizer input {
    width: auto;
    min-width: 1em;
    grid-area: 1 / 2;
    font: inherit;
    margin: 0;
    background: none;
    appearance: none;
    border: none;
    outline: none;
}

.input-sizer::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
}

.input-sizer.milti-input {
    padding: .1em .2em;
}


/* end input styles */

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 18px auto 60px auto;
    font-family: Arial;
    padding: 9px;
    border: 3px solid transparent;
    transition: border 0.1s;
    width: 90%;
    min-width: 300px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.quiz-description__title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 6px;
}

.quiz-result__title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 12px;
}

.quiz-result__button-container {
    margin-top: 12px;
}

.card--correct {
    border: 3px solid #4CAF50;
}

.card--wrong {
    border: 3px solid #E4572E;
}

h1 {
    text-align: center;
}


/* Mark input boxes that gets an error on validation: */

.invalid {
    background-color: #ffdddd;
}

.hidden {
    display: none !important;
}

.submit {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    border: 2px solid #ddd;
    text-transform: uppercase;
    z-index: 1;
    -webkit-appearance: button;
    opacity: 1;
    transition: bottom .2s ease-in-out, opacity .2s ease-in-out;
}

.submit.submit--hidden {
    bottom: -42px;
    opacity: 0;
}

.button-default {
    border: none;
    padding: 1em;
    background-color: #e9e9e9;
}

.text-center {
    text-align: center;
}

button:hover {
    opacity: 0.9;
}

.indicators {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
}

.indicator {
    height: 13px;
    width: 13px;
    margin: 0 3px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.7;
    transition: 0.7s;
}

.indicator--correct {
    background-color: #4CAF50;
}

.indicator--wrong {
    background-color: #E4572E;
}

.removed-item {
    animation: removed-item-animation 2s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /* transform origin is moved to the bottom left corner */
    transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
    50% {
        opacity: 1;
    }
    75% {
        transform: rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: translateY(400px) rotateZ(60deg);
    }
}

.new-item {
    opacity: 0;
    animation: new-item-animation .3s linear forwards;
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.remove-scale {
    animation: remove-scale-animation .4s cubic-bezier(.55, -0.04, .91, .94) forwards;
}

@keyframes remove-scale-animation {
    from {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
    }
}

.timer-container {
    width: 100%;
    background-color: #ddd;
}

.timer-container__timer {
    width: 100%;
    height: 6px;
    background-color: #4CAF50;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.6s;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

.timer-animation {
    animation: timer-animation 40s linear forwards;
}

@keyframes timer-animation {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 42px;
    padding: 9px 12px;
}

.menu-container--fake {
    cursor: initial;
}

.menu-container__bar {
    width: 24px;
    height: 4px;
    background-color: #bbbbbb;
    transition: 0.4s;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: width 0.4s;
}

.overlay--opened {
    width: 100vw;
}

.overlay__content {
    display: flex;
    text-align: center;
}

.overlay__header {
    display: flex;
    justify-content: space-between;
}

.overlay__header .overlay__header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    height: 60px;
    width: 60px;
    padding: 0;
}

.overlay a {
    padding: 8px 0;
    text-decoration: none;
    font-size: 24px;
    color: transparent;
    display: block;
    transition: color 0.2s;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
}

.overlay.overlay--opened a {
    color: #818181;
}

.overlay.overlay--opened a:hover,
.overlay.overlay--opened a:focus {
    color: #f1f1f1;
}

.swiper-container {
    width: 100%;
}

.indicators.swiper-custom-pagination>.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-custom-pagination {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
}

.swiper-custom-pagination>.indicator {
    opacity: 0.5;
}


/* choice input style start */

.choices-container {
    margin-top: 10px;
}

.input-label {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 0;
    font-weight: initial;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ddd;
}

.input-label:last-of-type {
    border-bottom-color: transparent;
}

.input-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.choice-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border: 2px solid #ddd;
    transition: .1s ease-in-out;
}

.checkbox-icon {
    height: 16px;
    width: 16px;
}

.input-label input:checked~.checkbox-icon,
.input-label input:checked~.radio-icon {
    background-color: #4CAF50;
    border: 2px solid transparent;
}

.checkbox-icon:after,
.radio-icon:after {
    content: "";
}

.input-label .checkbox-icon:after {
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio-icon {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.input-label .radio-icon:after {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

/* choice input style end */





@keyframes shake {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 1s;
}






/* Loader start */

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.loader {
    width: 50px;
    height: 50px;
    animation: 5s linear infinite loader-rotation;
}

.loader:before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top-color: #4CAF50;
    border-radius: 50%;
    animation: 2s linear infinite loader-before-rotation;
}

.loader:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top-color: #4CAF50;
    border-radius: 50%;
    animation: 2s linear infinite loader-after-rotation;
}

@keyframes loader-rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(360deg); }
    75% { transform: rotate(720deg); }
    100% { transform: rotate(1080deg); }
}

@keyframes loader-before-rotation {
    0% { transform: rotate(0deg); }
    9.9% { border-left-color: transparent; }
    10% { transform: rotate(90deg); border-left-color: #4CAF50; }
    20% { transform: rotate(180deg); border-left-color: #4CAF50; }
    30% { transform: rotate(180deg); border-left-color: #4CAF50; }
    39.9% { transform: rotate(180deg); border-left-color: #4CAF50; }
    40% { transform: rotate(180deg); border-left-color: transparent; }
    50% { transform: rotate(180deg); border-left-color: transparent; }

    59.9% { border-left-color: transparent; }
    60% { transform: rotate(270deg); border-left-color: #4CAF50; }
    70% { transform: rotate(360deg); border-left-color: #4CAF50; }
    80% { transform: rotate(360deg); border-left-color: #4CAF50; }
    89.9% { transform: rotate(360deg); border-left-color: #4CAF50; }
    90% { transform: rotate(360deg); border-left-color: transparent; }

    100% { transform: rotate(360deg); border-left-color: transparent}
}

@keyframes loader-after-rotation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(100deg); }
    50% { transform: rotate(180deg); }

    60% { transform: rotate(180deg); }
    70% { transform: rotate(180deg); }
    80% { transform: rotate(180deg); }
    90% { transform: rotate(280deg); }

    100% { transform: rotate(360deg); }
}

/* Loader end */